<%= form_with model: room, local: true, class: "form-inline", remote: true  do |form| %>
  <div class="form-group mb-2">
     <%= form.text_field :name, class: "form-control", placeholder: 'Room name', required: true %>
  </div>
    <%=button_tag type: 'submit', class: "btn btn-primary mb-2" do %>
    <i class="fa fa-plus  fa-fw" aria-hidden="true"></i>
    <%end%>
<%end%>