 <%= link_to room do %>
    <li class="contact">
        <div class="wrap">
            <%# <span class="contact-status online"></span> %>
            <%=get_random_image(room)%>
            <div class="meta">
                <p class="name"><%=room.name%></p>
                <%# <p class="preview">You just got LITT up, Mike.</p> %>
            </div>
        </div>
    </li>
<%end%>    